{{outlet}}
<br/><br/>

<div class="input-group"> <span class="input-group-addon">Filter</span>
  <input id="filter" type="text" class="form-control" placeholder="Filter Trips">
</div>

<h3>Trips</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Comment</th>
      <th>User</th>
      <th>Days</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="searchable">
  {{#each model as |trip|}}
    <tr>
      <td>{{trip.destination}}</td>
      <td>{{trip.start_date}} </td>
      <td>{{trip.end_date}} </td>
      <td>{{trip.comment}} </td>
      <td>{{trip.user.email}}</td>
      <td>{{trip.live_days}}</td>
      <td>{{#link-to "trips.show" trip.id class="btn btn-xs btn-primary"}}Show{{/link-to}}</td>
      <td>{{#link-to "trips.edit" trip.id class="btn btn-xs btn-info"}}Edit{{/link-to}}</td>
      <td><button {{ action "deleteTrip" trip.id }} class="btn btn-xs btn-danger">Delete</button></td>
    </tr>
  {{/each}}
  </tbody>
</table>
