New Trip

<form>
  <div class="form-group">
    <label>Destination</label>
    {{input type="text" class="form-control" value=destination placeholder="Destination" }}

  </div>
  <div class="form-group">
    <label>Start_Date</label>
    {{input type="date" class="form-control" value=start_date placeholder="Start Date" }}

  </div>
  <div class="form-group">
    <label>End Date</label>
    {{input type="date" class="form-control" value=end_date placeholder="End Date" }}

  </div>
  <div class="form-group">
    <label>Comment</label>
    {{input type="text" class="form-control" value=comment placeholder="Comment" }}
    
  </div>
  {{outlet "user-option"}}
  <button {{action "addTrip"}} class="btn btn-primary">Submit</button>
</form>
