<div class="well" id="print_section">
  <h4>{{model.destination}}</h4>
  <p>{{model.start_date}}</p>
  <p>{{model.end_date}}</p>
  <p>{{model.comment}}</p>
  <p>{{live_days}}</p>
  <button onclick="myFunction()">Print this page</button>
</div>
